:host {
  display: block; 
  height: 100%;   
  width: 100%;
}

.chart-container {
  background-color: var(--color-bg-primary);
  border-radius: 8px;

  height: 100%;
  width: 100%;
  overflow:hidden;
}

:host ::ng-deep .ngx-charts {
  display: block;
  height: 100% !important;
  width: 100% !important;
}

:host ::ng-deep .ngx-charts text {
  fill: var(--color-text-primary);
}