.chart-container {
  background-color: var(--color-bg-primary);
  border-radius: 8px;
  height: 300px;
  width: 100%;
  margin: auto;
  overflow:hidden;
}

:host ::ng-deep .ngx-charts {
  display: block;
  height: 100% !important;
  width: 100% !important;
}

:host ::ng-deep .ngx-charts text {
  fill: #f1f1f1;
}